* {
    margin: 0;
    padding: 0;
}


/*Responsive*/


/*Estilos generales*/


/*Desktop*/

.fondoOliva {
    background-color: aqua;
    opacity: 0.5;
    color: black;
    padding: 20px;
}

.fondoOliva1 {
    background-color: aqua;
    opacity: 0.5;
    color: black;
}

#imagenFondo {
    background-image: url(./Imagen/caminito\ del\ rey.jpg);
    opacity: 0.5;
    background-position: center;
}

.centrar {
    text-align: center;
    font-size: 150%;
}

.centrar2 {
    text-align: center;
}

.derecha {
    text-align: right;
}

.letra {
    font-family: 'open sans';
    font-style: normal;
    font-weight: normal;
}

.letra2 {
    font-family: 'luxurious roman';
}

.negrita {
    font-weight: bold;
}

.cursiva {
    font-style: italic;
}

.parrafoGrande {
    font-size: 200%;
}

div {
    background-color: gray;
    width: 200px;
    height: 200px;
    margin: 10px;
    justify-items: center;
    align-items: center;
}

ul li {
    list-style-type: none;
    display: inline-block;
    width: 150px;
    color: black;
    border-radius: 3px;
    margin-left: 5px;
    text-align: center;
}

li:hover {
    background-color: chartreuse;
    color: black;
}

.desplegable {
    display: none;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    margin: 2px;
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    margin: 2px;
    padding: 2px;
    list-style-type: none;
    grid-area: menu;
}

#fondoGaleria {
    background-color: aquamarine;
}

img {
    margin: 5px;
}

section {
    width: 100%;
    margin: 2px;
}

footer {
    margin: 2px;
    grid-area: info;
}

fieldset {
    border: dotted chartreuse 2px;
}

.enlaces {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 5px;
}

.border {
    border: solid 1px chartreuse;
}

.lista {
    list-style-type: none;
    display: inline;
}


/*Grids por Areas*/

#gridAreas {
    display: grid;
    grid-template-areas: "logo menu"/*fila 1*/
    "carrusel carrusel"/*fila2*/
    "identidad identidad"/*fila3*/
    "info info"/*fila4*/
    ;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}


/*Nombrar por Area*/

header {
    grid-area: logo;
}

nav {
    grid-area: menu;
}

#carrusel {
    grid-area: carrusel;
}

#identidad {
    grid-area: identidad;
}

footer {
    grid-area: info;
}


/*Flexbox*/

.padre-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center space-evenly;
}

.body-flex {
    display: flex;
}


/*GRIDS*/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


/*Tablet*/

@media (min-width: 481px) and (max-width: 1024px) {
    .fondoOliva {
        background-color: aqua;
        opacity: 0.5;
        color: black;
        padding: 20px;
    }
    .fondoOliva1 {
        background-color: aqua;
        opacity: 0.5;
        color: black;
    }
    #imagenFondo {
        background-image: url(./Imagen/caminito\ del\ rey.jpg);
        opacity: 0.5;
        background-position: center;
    }
    .centrar {
        text-align: center;
        font-size: 150%;
    }
    .centrar2 {
        text-align: center;
    }
    .derecha {
        text-align: right;
    }
    .letra {
        font-family: 'open sans';
        font-style: normal;
        font-weight: normal;
    }
    .letra2 {
        font-family: 'luxurious roman';
    }
    .negrita {
        font-weight: bold;
    }
    .cursiva {
        font-style: italic;
    }
    .parrafoGrande {
        font-size: 200%;
    }
    div {
        background-color: gray;
        width: 200px;
        height: 200px;
        margin: 10px;
        justify-items: center;
        align-items: center;
    }
    ul li {
        list-style-type: none;
        display: inline-block;
        width: 150px;
        color: black;
        border-radius: 3px;
        margin-left: 5px;
        text-align: center;
    }
    li:hover {
        background-color: chartreuse;
        color: black;
    }
    .desplegable {
        display: none;
    }
    body {
        width: 100%;
        height: 100vh;
    }
    header {
        margin: 2px;
        grid-area: logo;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav {
        margin: 2px;
        padding: 2px;
        list-style-type: none;
        grid-area: menu;
    }
    #fondoGaleria {
        background-color: aquamarine;
    }
    img {
        margin: 5px;
    }
    section {
        width: 100%;
        margin: 2px;
    }
    footer {
        margin: 2px;
        grid-area: info;
    }
    fieldset {
        border: dotted chartreuse 2px;
    }
    .enlaces {
        margin-top: 2px;
        margin-bottom: 2px;
        padding-right: 5px;
    }
    .border {
        border: solid 1px chartreuse;
    }
    .lista {
        list-style-type: none;
        display: inline;
    }
    /*Grids por Areas*/
    #gridAreas {
        display: grid;
        grid-template-areas: "logo menu"/*fila 1*/
        "carrusel carrusel"/*fila2*/
        "identidad identidad"/*fila3*/
        "info info"/*fila4*/
        ;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
    }
    /*Nombrar por Area*/
    header {
        grid-area: logo;
    }
    nav {
        grid-area: menu;
    }
    #carrusel {
        grid-area: carrusel;
    }
    #identidad {
        grid-area: identidad;
    }
    footer {
        grid-area: info;
    }
    /*Flexbox*/
    .padre-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center space-evenly;
    }
    .body-flex {
        display: flex;
    }
}


/*Smartphone*/

@media (max-width: 480px) {
    .fondoOliva {
        background-color: aqua;
        opacity: 0.5;
        color: black;
        padding: 20px;
    }
    .fondoOliva1 {
        background-color: aqua;
        opacity: 0.5;
        color: black;
    }
    #imagenFondo {
        background-image: url(./Imagen/caminito\ del\ rey.jpg);
        opacity: 0.5;
        background-position: center;
    }
    .centrar {
        text-align: center;
        font-size: 150%;
    }
    .centrar2 {
        text-align: center;
    }
    .derecha {
        text-align: right;
    }
    .letra {
        font-family: 'open sans';
        font-style: normal;
        font-weight: normal;
    }
    .letra2 {
        font-family: 'luxurious roman';
    }
    .negrita {
        font-weight: bold;
    }
    .cursiva {
        font-style: italic;
    }
    .parrafoGrande {
        font-size: 200%;
    }
    div {
        background-color: gray;
        width: 200px;
        height: 200px;
        margin: 10px;
        justify-items: center;
        align-items: center;
    }
    ul li {
        list-style-type: none;
        display: inline-block;
        width: 150px;
        color: black;
        border-radius: 3px;
        margin-left: 5px;
        text-align: center;
    }
    li:hover {
        background-color: chartreuse;
        color: black;
    }
    .desplegable {
        display: none;
    }
    body {
        width: 100%;
        height: 100vh;
    }
    header {
        margin: 2px;
        grid-area: logo;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav {
        margin: 2px;
        padding: 2px;
        list-style-type: none;
        grid-area: menu;
    }
    #fondoGaleria {
        background-color: aquamarine;
    }
    img {
        margin: 5px;
    }
    section {
        width: 100%;
        margin: 2px;
    }
    footer {
        margin: 2px;
        grid-area: info;
    }
    fieldset {
        border: dotted chartreuse 2px;
    }
    .enlaces {
        margin-top: 2px;
        margin-bottom: 2px;
        padding-right: 5px;
    }
    .border {
        border: solid 1px chartreuse;
    }
    .lista {
        list-style-type: none;
        display: inline;
    }
    /*Grids por Areas*/
    #gridAreas {
        display: grid;
        grid-template-areas: "logo menu"/*fila 1*/
        "carrusel carrusel"/*fila2*/
        "identidad identidad"/*fila3*/
        "info info"/*fila4*/
        ;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
    }
    /*Nombrar por Area*/
    header {
        grid-area: logo;
    }
    nav {
        grid-area: menu;
    }
    #carrusel {
        grid-area: carrusel;
    }
    #identidad {
        grid-area: identidad;
    }
    footer {
        grid-area: info;
    }
    /*Flexbox*/
    .padre-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center space-evenly;
    }
    .body-flex {
        display: flex;
    }
}